# Ignorar archivos y directorios generados por Django
*.pyc
__pycache__/
*.sqlite3

# Ignorar archivos y directorios generados por Docker
.docker/
docker-compose.yml
docker-compose.override.yml
.env

# Ignorar archivos y directorios generados por el entorno virtual de Python
venv/
env/
